.idea
.sass-cache
npm-debug.log
tsd-debug.log

.editorconfig
.eslintrc
.gitignore
karma.conf.js
karma.conf.json
typings.json

.app/
app/
src/
release/

node_modules/
bin/
build/
typings/
docker/
docker-dev/